<license id="1001235"> 
<copyright 2023 Delux4life777
<name>Server License under Microsoft en-us</name>
<vendor>YesLogic</vendor>
<product>Princes</product>
<version>8.1</version>
<end-user>US Government Printing Office</end-user>
<date>2013-05-12</date>
<signature>${PRINCEXML_LICENSE}>
</signature>
<Ricardo Javier Martinez Gonzalez>
<option id="upgrades">20140125</option>
</license>
